body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero,
.content-1,
.content-2,
.content-3,
.footer {
    flex: 1 1 0;
}

.hero {
    background-color: #1F2937;
}

.content-1 {

}

.content-2 {
    background-color: #E5E7EB;
}

.content-3 {
    
}

.footer {
    background-color: #1F2937;
}




