body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3 3 auto;
    padding-top: 8px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 1000px;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content {
    display: flex;
    align-items: center;
    flex: 10 0 0;
    margin-top: -24px;
}

.hero .content .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    height: 250px;
    width: 450px;
}

.hero .content .left button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px;
    width: 120px;
    height: 35px;
}

.hero .content img {
    flex: 0 0 auto;
    height: 250px;
    width: 500px;
    background-color: #65676b;
    margin-left: 48px;

    text-align: center;
    line-height: 250px;
    color: #E5E7EB;

}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3 3 auto;
    padding: 36px 0px 72px 0px;
    gap: 30px;
}

.content-1 .header-text {
    color: black;
    font-weight: 900;
    font-size: 36px;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 250px;
    gap: 50px;
}

.boxes .secondary-text {
    color: #1F2937;
    text-align: center;
}

.box {
    border: 5px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.content-2 {
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    flex: 3 3 auto;
    height: 400px;
}

.content-3 {
    flex-direction: column;
    align-items: center;
    flex: 3 3 auto; 
    height: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex: 1 1 auto;
}




